/FormSqlTranslator.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_FormSqlTranslator.Tests
/FormSqlTranslator/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/FormSqlTranslator.Tests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/.idea/.idea.FormSqlTranslator/.idea/encodings.xml
/FormSqlTranslator/obj/Debug/net9.0/FormSqlTranslator.AssemblyInfo.cs
/FormSqlTranslator/obj/Debug/net9.0/FormSqlTranslator.AssemblyInfoInputs.cache
/FormSqlTranslator/obj/Debug/net9.0/FormSqlTranslator.assets.cache
/FormSqlTranslator/obj/Debug/net9.0/FormSqlTranslator.csproj.AssemblyReference.cache
/FormSqlTranslator/obj/FormSqlTranslator.csproj.nuget.dgspec.json
/FormSqlTranslator/obj/FormSqlTranslator.csproj.nuget.g.props
/FormSqlTranslator/obj/FormSqlTranslator.csproj.nuget.g.targets
/FormSqlTranslator/obj/Debug/net9.0/FormSqlTranslator.GeneratedMSBuildEditorConfig.editorconfig
/FormSqlTranslator/obj/Debug/net9.0/FormSqlTranslator.GlobalUsings.g.cs
/FormSqlTranslator.Tests/obj/Debug/net9.0/FormSqlTranslator.Tests.AssemblyInfo.cs
/FormSqlTranslator.Tests/obj/Debug/net9.0/FormSqlTranslator.Tests.AssemblyInfoInputs.cache
/FormSqlTranslator.Tests/obj/Debug/net9.0/FormSqlTranslator.Tests.assets.cache
/FormSqlTranslator.Tests/obj/Debug/net9.0/FormSqlTranslator.Tests.csproj.AssemblyReference.cache
/FormSqlTranslator.Tests/obj/FormSqlTranslator.Tests.csproj.nuget.dgspec.json
/FormSqlTranslator.Tests/obj/FormSqlTranslator.Tests.csproj.nuget.g.props
/FormSqlTranslator.Tests/obj/FormSqlTranslator.Tests.csproj.nuget.g.targets
/FormSqlTranslator.Tests/obj/Debug/net9.0/FormSqlTranslator.Tests.GeneratedMSBuildEditorConfig.editorconfig
/FormSqlTranslator.Tests/obj/Debug/net9.0/FormSqlTranslator.Tests.GlobalUsings.g.cs
/.idea/.idea.FormSqlTranslator/.idea/indexLayout.xml
/FormSqlTranslator/obj/project.assets.json
/FormSqlTranslator.Tests/obj/project.assets.json
/FormSqlTranslator/obj/project.nuget.cache
/FormSqlTranslator.Tests/obj/project.nuget.cache
/FormSqlTranslator/obj/project.packagespec.json
/FormSqlTranslator.Tests/obj/project.packagespec.json
/.idea/.idea.FormSqlTranslator/.idea/projectSettingsUpdater.xml
/FormSqlTranslator/obj/rider.project.restore.info
/FormSqlTranslator.Tests/obj/rider.project.restore.info
/.idea/.idea.FormSqlTranslator/.idea/vcs.xml
